
<!--
============================================
; Title: Exercise
; Author: Lance Desrouleaux
; Date:
;Modified by: Lance Desrouleaux
; Description:
;===========================================
-->


<!DOCTYPE html>
<html>

<head>

  <meta charset = "utf-8">
  <title>Hello, world!</title>
</head>
<body>
  <%= message %>

</body>



</html>
