
<!--
============================================
; Title: EMS
; Author: Lance Desrouleaux
; Date: 5/18/19
;Modified by: Lance Desrouleaux
; Description: List Page
;===========================================
-->


<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body class="body--padded">
    <% include navbar %>
    <main rol="main">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Troy </td>
              <td>Martin</td>
              <td>Software Developer</td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Donner</td>
              <td>Front End Designer</td>
            </tr>
            <tr>
              <td>Reva</td>
              <td>Baumann</td>
              <td>Web Designer</td>
            </tr>
            <tr>
              <td>Lance</td>
              <td>Desrouleaux</td>
              <td>Web Designer</td>
            </tr>
          </tbody>
        </table>
      </div>
      <% include footer %>
    </main>
    <% include scripts %>
  </body>
</html>
