
<!--
============================================
; Title: EMS
; Author: Lance Desrouleaux
; Date: 5/18/19
;Modified by: Lance Desrouleaux
; Description: New employee page
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>
    <main rol="main">
      <% include footer %>

    </main>
    <% include scripts %>
  </body>
</html>
